.header {
    animation: nav-load var(--nav-load-time) ease-out;
}
.cvPhotoAnimation {
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}
.cvPhoto img {
    transition: transform 0.2s;
    animation-delay: 1000ms;
}
.navInfo li {
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}
li:first-child {
    animation-delay: 700ms;
}
li:nth-child(2) {
    animation-delay: 800ms;
}
li:nth-child(3) {
    animation-delay: 900ms;
}
.resume {
    animation-name: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
.buttons {
    color:rgb(72,199,180);
    background-color: transparent;
    border-radius: 5%;
    border: 1px solid rgb(72,199,180);
    padding: 0.40rem 0.60rem;
    cursor: pointer;
    font-size: 20px;
    font-family: cursive;
    text-decoration: none;
}
.buttons:hover {
    opacity: 0.5;
}

#mainContent{
    width: 70%;
    height: 100%;
}
#homeContent {
    margin: 250px 150px;
}
#firstLine{
    color:rgb(72,199,180);
    font-family: monospace;
    font-size: 30px;
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1100ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
#secondLine {
    color: rgb(208, 219, 251);
    font-family: monospace;
    font-size: 55px;
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
#thridLine {
    color: rgb(136, 145, 178);
    font-family: monospace;
    font-size: 45px;
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1300ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
#paragraph p {
    color: rgb(107, 120, 152);
    font-family: monospace;
    font-size: 25px;
    margin-bottom: 30px;
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1400ms;
    animation-fill-mode: forwards;
    transform: scale(0)
}
#contactButton {
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
    transform: scale(0)
}
#socialIconsContainer {
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in-out;
    animation-delay: 1600ms;
    animation-fill-mode: forwards;
    transform: scale(0)
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1000px) { 
    #mainContent{
        width: 100%;
    }

    #homeContent {
        margin: 25px;
    }
}